<h1>Events</h1>

<button ng-click="createEvent()" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus"></span> New Event
</button>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Location</th>
        <th>Date</th>
        <th>Description</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="event in events track by $index">
        <td>{{event.id}}</td>
        <td>{{event.name}}</td>
        <td>{{event.location}}</td>
        <td>{{event.date}}</td>
        <td>{{event.description}}</td>
        <td>
            <button ng-click="updateEvent(event)" type="submit"
                    class="btn btn-primary">Update</button>
        </td>
        <td>
            <button ng-click="deleteEvent(event)" type="submit"
                    class="btn btn-primary">Delete</button>
        </td>
    </tr>
    </tbody>
</table>