<div style="text-align: center">
	<h1 class="ng-scope">Seminar Group Administration</h1>
</div>

<button ng-click="createGroup()" class="btn btn-primary">
	<span class="glyphicon glyphicon-plus"></span> Add a new Seminar group
</button><br><br>

<div class="panel panel-default">
	<table class="table-responsive table-hover table table-bordered" style="font-size: large">
		<thead>
		<tr class="info">
			<th>Id</th>
			<th>Name</th>
			<th style="text-align: center">Update</th>
			<th style="text-align: center">Delete</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="group in groups track by $index">
			<td style="vertical-align: middle">{{group.id}}</td>
			<td style="vertical-align: middle">{{group.name}}</td>
			<td style="vertical-align: middle; text-align: center">
				<button ng-click="updateGroup(group)" type="submit"
						class="btn btn-primary">Update</button>
			</td>
			<td style="vertical-align: middle; text-align: center">
				<button ng-click="deleteGroup(group)" type="submit"
						class="btn btn-primary btn-danger">Delete</button>
			</td>
		</tr>
		</tbody>
	</table>
</div>
