<div style="width: 100%; margin: auto; text-align: center" align="center">
    <h2>Adding a new Timeline</h2>
    <form name="form"  novalidate class="form-horizontal" style="text-align: center; align-content: center; margin: auto; align-items: center">

    <div class="form-group" ng-class="{'has-error': !(form.name.$valid)}" style="width: 50%; text-align: center; margin: auto">
        <table style="width: 100%">
            <tr>
                <td>
                    <label for="name" class="control-label">Name</label><br>
                    <input placeholder="name" id="name" type="text" name="name" class="form-control" ng-minlength="5"
                           ng-model="timeline.name" required/>
                    <p class="help-block" ng-show="form.name.$error.required">Name is required</p>
                    <p class="help-block" ng-show="form.name.$error.minlength">Name must be at least 5 characters</p>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                    <button ng-disabled="!form.$valid" ng-click="createTimeline(timeline)" class="btn btn-default" type="submit" >Create timeline</button>
                </td>
            </tr>
        </table>

    </div>
    </form>
</div>