<form name="form"  novalidate class="form-horizontal">

    <div class="form-group" ng-class="{'has-error': !(form.name.$valid, form.repeatSelect.$valid, form.multipleSelect.$valid)}">

        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input placeholder="name" id="name" type="text" name="name" class="form-control" ng-minlength="5"
                   ng-model="timeline.name" required/>
            <p class="help-block" ng-show="form.name.$error.required">Name is required</p>
            <p class="help-block" ng-show="form.name.$error.minlength">Name must be at least 5 characters</p>
        </div>
        <!--<br><br>-->
        <!--<label for="repeatSelect" class="col-sm-2 control-label">Seminar group</label>-->
        <!--<div class="col-sm-10">-->
            <!--<select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="timeline.seminarGroup">-->
                <!--<option ng-repeat="g in groups" value="{{g.id}}" ng-selected="{{g.id == timeline.seminarGroup.id}}">{{g.name}}</option>-->
            <!--</select>-->
        <!--</div>-->
        <!--<br><br><br><br>-->
        <!--<label for="multipleSelect" class="col-sm-2 control-label">Events</label>-->
        <!--<div class="col-sm-10">-->
            <!--<select class="form-control" name="multipleSelect" id="multipleSelect" ng-model="timeline.events" multiple>-->
                <!--<option ng-repeat="e in events" value="{{e.id}}"  ng-selected="{{e.id == timeline.events.id}}">{{e.name}}</option>-->
            <!--</select>-->
        <!--</div>-->
    </div>

    <!-- show disabled button if form is not valid -->
    <button ng-disabled="!form.$valid" ng-click="createTimeline(timeline)" class="btn btn-default" type="submit" >Create timeline</button>
</form>