<div style="width: 100%; margin: auto; text-align: center" align="center">
    <h2>Adding a new Event</h2>
    <form name="form"  novalidate class="form-horizontal" style="text-align: center; align-content: center; margin: auto; align-items: center">

        <div class="form-group" ng-class="{'has-error': !(form.name.$valid && form.date.$valid)}"
             style="width: 50%; text-align: center; margin: auto">
            <table style="width: 100%">
                <tr>
                    <td style="text-align: center">
                    <label for="name" class="control-label">Name</label><br>
                    <input placeholder="name" id="name" type="text" ng-maxlength="32" name="name" class="form-control"
                           ng-model="event.name" required/>
                    <p class="help-block" ng-show="form.name.$error.required">name is required</p>
                    <p class="help-block" ng-show="form.name.$error.maxlength">name must have at most 32 characters</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="date" class="control-label">Date</label><br>
                        <input placeholder="yyyy-mm-dd" id="date" type="text" pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])" name="date" class="form-control" ng-model="event.date" required/>
                        <p class="help-block" ng-show="form.date.$error.required">date is required</p>
                        <p class="help-block" ng-show="form.date.$error.pattern">wrong format of date, it should be like 2017-01-01</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="location" class="control-label">Location</label><br>
                        <input placeholder="Prague" id="location" type="text" ng-maxlength="32" name="location" class="form-control" ng-model="event.location" />
                        <p class="help-block" ng-show="form.location.$error.maxlength">name must have at most 32 characters</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="description" class="control-label">Description</label><br>
                        <textarea id="description" placeholder="Some desc of event" ng-maxlength="300" name="description" class="form-control" ng-model="event.description" />
                        <p class="help-block" ng-show="form.description.$error.maxlength">name must have at most 300 characters</p>

                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="image" class="control-label">Image (URL)</label><br>
                        <input placeholder="http://google.com/image.img" id="image" type="url" ng-maxlength="100" name="image" class="form-control"
                               ng-model="event.image" />
                        <p class="help-block" ng-show="form.image.$error.maxlength">image url must have at most 100 characters</p>
                        <p class="help-block" ng-show="form.image.$error.url">image url must be like http://website</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="text-align: center">
                            <br>
                            <button ng-disabled="!form.$valid" ng-click="create(event)" class="btn btn-primary" type="submit" >Submit</button>
                        </div>
                    </td>
                </tr>

            </table>
</div>

    </form>

</div>

