<div style="width: 100%; margin: auto; text-align: center" align="center">
    <h2>Adding events to Timeline</h2>
<form name="form" novalidate class="form-horizontal" style="text-align: center; align-content: center; margin: auto; align-items: center">

    <div class="form-group" style="font-size: large" style="width: 50%; text-align: center; margin: auto">
        <table style="width: 100%;">
            <tr>
                <td align="center">
                    <label for="multipleSelect" class="control-label">Events</label><br>
                    <select class="form-control" name="multipleSelect" id="multipleSelect" ng-model="newEvents.ids" multiple style="height: 100%; width: 50%">
                        <option ng-repeat="e in events" value="{{e.id}}"  ng-selected="false">{{e.name}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                    <button ng-disabled="!form.$valid" ng-click="setEvents(newEvents.ids)"
                            class="btn btn-default" type="submit">Submit</button>
                </td>
            </tr>
        </table>

    </div>

</form>
</div>