<h1>Timelines</h1>

<button ng-click="createTimeline()" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus"></span> New Timeline
</button>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Seminar Group</th>
        <th>Events</th>
        <th>Comments</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="timeline in timelines track by $index">
        <td>{{timeline.id}}</td>
        <td>{{timeline.name}}</td>
        <td>{{timeline.seminarGroup.name}}</td>

        <td>
            <table>
                <tr ng-repeat="event in timeline.events">
                    <td>{{event.date}}</td>
                    <td>{{event.name}}</td>
                    <td><button ng-click="loadEvent(event)" type="submit"
                                class="btn btn-primary btn-xs">Get event</button></td>
                    <td><button ng-click="removeEvent(timeline, event)" type="submit"
                                class="btn btn-primary btn-xs">Remove event</button></td>
                </tr>
            </table>
        <td>
            <table>
                <tr ng-repeat="comment in timeline.comments">
                    <td>{{comment}}</td>
                </tr>
                <tr>
                    <td><button ng-click="addCommentView(timeline.id)" type="submit"
                                class="btn btn-primary btn-xs">Add comment</button></td>
                </tr>
            </table>
        <td>
            <button ng-click="updateTimeline(timeline)" type="submit"
                    class="btn btn-primary">Update</button>
        </td>
        <td>
            <button ng-click="deleteTimeline(timeline)" type="submit"
                    class="btn btn-primary">Delete</button>
        </td>
    </tr>
    </tbody>
</table>