<h1>Timelines</h1>

<a href="#!/new_timeline" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    New Timeline
</a>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Seminar Group</th>
        <th>Events</th>
        <th>Comments</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="timeline in timelines track by $index">
        <td>{{timeline.id}}</td>
        <td>{{timeline.name}}</td>
        <td>{{timeline.seminargroup}}</td>
        <td>{{timeline.events}}</td>
        <td>{{timeline.comments}}</td>

        <td>
            <button ng-click="deleteEvent(timeline)" type="submit" class="btn btn-primary">Edit</button>
        </td>
        <td>
            <button ng-click="deleteEvent(timeline)" type="submit" class="btn btn-primary">Delete</button>
        </td>
    </tr>
    </tbody>
</table>