<h1>Timelines</h1>

<a href="#!/new_timeline" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    New Timeline
</a>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Seminar Group</th>
        <th>Events</th>
        <th>Comments</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="timeline in timelines track by $index">
        <td>{{timeline.id}}</td>
        <td>{{timeline.name}}</td>
        <td>{{timeline.saminarGroup}}</td>
        <td>
            <table class="table"><tr ng-repeat="event in timeline.events">{{event.name}}</table></tr>
        </td>
        <td>
            <table class="table"><tr ng-repeat="comment in timeline.comments">{{comment}}</table></tr>
        </td>
        <td>
            <button ng-click="deleteTimeline(timeline)" type="submit" class="btn btn-primary">Delete</button>
        </td>
    </tr>
    </tbody>
</table>